
.shake{
    animation: headshake .3s infinite;
}

@keyframes headshake{
    0%{
        transform:translateX(-15px);
    }
    50%{
        transform:translateX(15px);
    }
    100%{
        transfrom:translateX(0);
    }
}