
.shake{
    animation: headshake .1s 3;
}

@keyframes headshake{
   from,
   to{
       transform:translate3d(0,0,0);
   }
   10%,
   30%,
   50%,
   70%,
   90%{
       transform: translata3d(15px,0,0);
   }
   20%,
   40%,
   60%,
   80%{
       transform: translate3d(-15px,0,0);
   }
      
}
